body {
  font-family: Arial;
  padding: 20px;
  background: linear-gradient(to right, rgb(255, 0, 242), rgb(233, 176,19));
}

input {
  display: block;
  margin: 10px 0;
  padding: 8px;
  background-color: aqua;
}

button {
  padding: 8px;
  background: blue;
}

.item {
  padding: 10px;
  margin-top: 10px;
  color: white;
}

.red {
  background: red;
}

.yellow {
  background: orange;
}

.green {
  background: green;
}
